body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  
.topnav {
    overflow: hidden;
    background-color: #333;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #3da2f5;
    color: white;
}

.content {
    margin: 55px;
}


.footer {
    padding: 40px;
    background-color: #3da2f5;
    line-height: 2;
    text-align: center;
}

.footer-link {
    text-decoration: none;
    color: beige;
}

.footer-link:hover {
    color: white;
}

.copyright {
    color: white;
}